html,
body {
  position: fixed;
  overflow-y: auto;
}

.divHeaderPai {
  position: fixed;
  z-index: 1;
}

.divHeaderEntreEmContatoPai {
  position: relative;
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divHeaderEntreEmContatoPai::before {
  content: "";
  background-image: url(imagemCameraFundo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: -1;
}

.divHeaderEntreEmContatoPai::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.divHeaderEntreEmContatoFilho {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.lblHeaderEntreEmContatoTitulo {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
  color: #fff;
}

.lblHeaderEntreEmContatoTexto {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #fff;
}

.divTopo {
  display: flex;
}

.divBodyMensagemPai {
  width: 50%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: right;
}

.divBodyMensagemFilho {
  width: 60%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.lblMensagemTitulo {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #000;
}

.lblMensagemTexto {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(116, 116, 116);
}

.divBodyFormularioPai {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.divTexto {
  width: 80%;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.divBodyFormularioFilho {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
}

.divFormulario {
  width: 95%;
  height: 100%;
  justify-content: center;
  padding-top: 40px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.divHeaderFormulario {
  width: 72%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.divHeaderFormulario input {
  height: 30px;
  width: 90%;
}

.divBodyFormulario {
  width: 70%;
  height: 100px;
}

.divBodyFormulario input {
  height: 30px;
  width: 100%;
}

.divFooterFormulario {
  width: 72%;
  height: 100px;
}

.divFooterFormulario input {
  height: 30px;
  width: 100%;
}

.divFormulario button {
  height: 50px;
  width: 90px;
  background-color: rgb(36, 28, 21);
  color: #fff;
}

.divFormulario input {
  border: 2px solid #dfdfdf;
  padding: 10px;
  transition: border-color 0.3s;
  background-color: rgb(247, 244, 244);
}

.divFormulario input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  outline: none;
  background-color: #fff;
}

.divFormulario input:focus ~ .input-fundo-escuro {
  background-color: rgba(0, 0, 0, 0.1);
}

.divFormulario textarea {
  border: 2px solid #dfdfdf;
  padding: 10px;
  transition: border-color 0.3s;
  background-color: rgb(247, 244, 244);
}

.divFormulario textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  outline: none;
  background-color: #fff;
}

.divFormulario textarea:focus ~ .input-fundo-escuro {
  background-color: rgba(0, 0, 0, 0.1);
}

.divFooterPai {
  background-color: rgb(36, 28, 21);
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.divFooterIconsRedeSocialFilho {
  display: flex;
  justify-content: center;
}

i {
  padding: 10px;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  border-color: #fff;
}

a {
  color: #fff;
}
