@media screen and (max-width: 1700px) {
 
  .divVideosPropagandaPai{
    height: 60vh;
  }

  .divButtonVoltarPai{
    height: 65vh;
  }

  .divVideosPropagandaFilho{
    height: 65vh;
  }

}

@media screen and (max-width: 1638px) {
  
  .divVideosPropagandaPai{
    height: 55vh;
  }

  .divButtonVoltarPai{
    height: 60vh;
  }

  .divVideosPropagandaFilho{
    height: 60vh;
  }

}

@media screen and (max-width: 1517px) {
  
  .divVideosPropagandaPai{
    height: 45vh;
  }

  .divButtonVoltarPai{
    height: 50vh;
  }

  .divVideosPropagandaFilho{
    height: 50vh;
  }

}

@media screen and (max-width: 1380px) {
  
  .divBodyApresentacaoFinalPai{    
    width: 100%;
    height: 116vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .divGraficoFilho{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    text-align: center;
}

  .divTextoGrafico{
    width: 50%;
    padding-bottom: 40px;
}


}

@media screen and (max-width: 1250px) {

  .divlblBodyApresentacaoTitulo{   
    height: 60vh; 
    word-wrap: break-word;
    overflow: hidden;
}

  .lblBodyApresentacaoTitulo{
    font-size: 42px;
    color: #000;
  }

  .divVideosPropagandaPai{
    height: 40vh;
  }

  .divButtonVoltarPai{
    height: 45vh;
  }

  .divVideosPropagandaFilho{
    height: 45vh;
  }

}

@media screen and (max-width: 1140px) {
  
  .divVideosPropagandaPai{
    height: 30vh;
  }

  .divButtonVoltarPai{
    height: 35vh;
  }

  .divVideosPropagandaFilho{
    height: 35vh;
  }

}


@media screen and (max-width: 1070px) {
  
  .divFooterApresentacaoPai{  
    height: 80vh;      
}

.divFooterApresentacaoFilho{   
    width: 80%;
    height: 60vh; 
    display: flex;
    flex-direction: column;
    padding-top: 40px;    
}

.divLblApresentacaoTitulo{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

  .lblFooterApresentacaoTitulo{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: #fff;
}

.lblFooterApresentacaoTexto{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 24px;
    color: #fff;
}

}

@media screen and (max-width: 1030px) {
  .divBodyApresentacaoPai{
    height: 140vh;
    display: flex;  
    flex-direction: column;
    align-items: center;
  }

  .divBodyApresentacaoFilho{
    width: 100%;   
    text-align: center;   
  }

  .divVideosPropagandaPai{
    width: 80%;
    height: 60vh;
  
  }

  .divButtonVoltarPai{
    height: 65vh;
  }

  .divVideosPropagandaFilho{
    height: 65vh;
  }

}

@media screen and (max-width: 820px) {
  .divBodyApresentacaoPai{
    height: 110vh;
    display: flex;  
    flex-direction: column;
    align-items: center;
  }

  .divBodyApresentacaoFilho{
    width: 100%;   
    height: 45vh; 
    text-align: center;  
  }

  .lblBodyApresentacaoTitulo{
    font-family: "Playfair Display", serif;
    font-weight: weight;
    font-style: normal;
    /* font-size: 4.5vw; */
    color: #000;
}

.lblBodyApresentacaoTexto{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3.5vw;
}

  .divVideosPropagandaPai{
    width: 80%;
    height: 40vh;
    text-align: center;
  }

  .divButtonVoltarPai{
    height: 45vh;
  }

  .divVideosPropagandaFilho{
    height: 45vh;
  }

}

@media screen and (max-width: 787px) {
  
  .divGraficoFilho{
    width: 100%;   
}

  .divTextoGrafico{
    width: 100%;   
  }

  .lblBodyGraficoTitulo{
    font-size: 40px;
  }

  .lblBodyGraficoTexto{
    font-size: 24px;
  }

  img{
    width: 340px;
  }
}


@media screen and (max-width: 760px) {

  .lblBodyApresentacaoTitulo{
    font-size: 38px;
    color: #000;
  }
  
  .lblBodyApresentacaoTexto{
    font-size: 24px;
    color: #000;
  }

  .lblFooterApresentacaoTitulo{   
    font-size: 32px;    
  }

  .lblFooterApresentacaoTexto{  
    font-size: 21px; 
  }

  .lblFooterApresentacaoTituloTopico{
    font-size: 25px;     
  }

  .lblFooterApresentacaoTopicoTexto{
    font-size: 20px; 
  }

}

@media screen and (max-width: 637px) {
    
  .lblFooterApresentacaoTitulo{   
    font-size: 28px;    
  }

  .lblFooterApresentacaoTexto{  
    font-size: 19px; 
  }

  .lblFooterApresentacaoTituloTopico{
    font-size: 22px;     
  }

  .lblFooterApresentacaoTopicoTexto{
    font-size: 18px; 
  }

}

@media screen and (max-width: 550px) {
  
  .divBodyApresentacaoPai{   
    justify-content: center;
  }

  .divBodyApresentacaoFilho{  
    height: 45vh;     
  }

  .divlblBodyApresentacaoTitulo{  
    height: 100%;        
  }

  .lblBodyApresentacaoTitulo{    
    font-size: 32px;  
  }

  .lblBodyApresentacaoTexto{   
    font-size: 22px;   
  }

  .divVideosPropagandaPai{
    width: 80%;
    height: 25vh;
    text-align: center;
  }

  .divButtonVoltarPai{
    height: 30vh;
  }

  .divVideosPropagandaFilho{
    height: 30vh;
  }

  .lblFooterApresentacaoTitulo{   
    font-size: 26px;    
  }

  .lblFooterApresentacaoTexto{  
    font-size: 18px; 
  }

  .lblFooterApresentacaoTituloTopico{
    font-size: 22px;     
  }

  .lblFooterApresentacaoTopicoTexto{
    font-size: 17px; 
  }

}

@media screen and (max-width: 430px) {
  
  .divBodyApresentacaoFilho{  
    height: 55vh;     
  }


  .divlblBodyApresentacaoTitulo{  
    width: 100%;   
    text-align: left;
    padding: 10px;
  }

  .lblBodyApresentacaoTitulo{    
    font-size: 38px;  
  }

  .lblBodyApresentacaoTexto{   
    font-size: 22px;   
  }

  .divVideosPropagandaPai{
    width: 80%;
    height: 25vh;
    text-align: center;
  }

  .divButtonVoltarPai{
    height: 30vh;
  }

  .divVideosPropagandaFilho{
    height: 30vh;
  }

  .lblFooterApresentacaoTitulo{   
    font-size: 24px;    
  }

  .lblFooterApresentacaoTexto{  
    font-size: 17px; 
  }

  .lblFooterApresentacaoTituloTopico{
    font-size: 22px;     
  }

  .lblFooterApresentacaoTopicoTexto{
    font-size: 17px; 
  }

}

@media screen and (max-width: 500px) {
  
  .lblFooterApresentacaoTitulo{   
    font-size: 22px;    
  }

  .lblFooterApresentacaoTexto{  
    font-size: 17px; 
  }

  .lblFooterApresentacaoTituloTopico{
    font-size: 20px;     
  }

  .lblFooterApresentacaoTopicoTexto{
    font-size: 17px; 
  }

}

@media screen and (max-width: 360px) {
  
  .lblFooterApresentacaoTitulo{   
    font-size: 3vh;    
  }

  .lblFooterApresentacaoTexto{  
    font-size: 1.5vh
  }

  .lblFooterApresentacaoTituloTopico{
    font-size: 2vh;       
  }

  .lblFooterApresentacaoTopicoTexto{
    font-size: 1vh
  }

}
